# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.PizzmanKalachevPizzasAdventure.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Development\PizzmanKalachevPizzasAdventure\.idea\.idea.PizzmanKalachevPizzasAdventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
